<div id="card">
    <div id="imagem">
        <p>Ficção Científica</p>
        <img src="{{imagem}}" alt="Capa do filme">
    </div>
    <div id="informacoes">
        <h1>{{titulo}}</h1>
        <p>{{descricao}}</p>
        <div id="botoes">
            <button id="like" (click)="votarGostei()">
                <img  src="like.png" alt="Simbolo de um dedão para cima">
                <p>{{gostei}}</p>
            </button>

            <button id="dislike" (click)="votarNaoGostei()">
                <img src="dislike.png" alt="Simbolo de um dedão para baixo">
                <p>{{naoGostei}}</p>
            </button>
        </div>
    </div>
</div>
