@use "../../../style/variables.scss";

#card{
    background-color: variables.$background;
    border-radius: 1em;
    overflow: hidden;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.055);
    transition: 150ms ease-in-out;

    &:hover{
        scale: 1.03;
        margin-bottom: 1em;
        box-shadow: 1px 20px 20px rgba(243, 7, 7, 0.075);
    }

    #imagem{
        position: relative;

        img{
            width: 100%;
            min-height: 30vh;
            background-size: contain;
        }
        p{
            position: absolute;
            top: 1em;
            left: 1em;
             background: linear-gradient(to right, #f97316, #dc2626);
            padding: .5em 1em;
            border-radius: 2em;
            color: white;
            font-size: .9em;
        }
    }

    #informacoes{
        padding: 1em 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;

        #botoes{
            display: flex;
            gap: 1em;
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5em;
                height: 3em;
                width: 6em;
                border-radius: .5em;
                font-weight: bolder;
                transition: 150ms ease-in;
                cursor: pointer;

                img{
                    width: 1.3em;
                    height: 1.3em;
                }

                &#dislike{
                background-color: rgb(127, 29, 29,.3);
                border: 1px solid rgba(255, 0, 0, 0.253);
                color: #f87171;

                    &:hover{
                        background-color: rgb(153, 27, 27, 0.5)
                    }
                }

                &#like{
                background-color: rgba(20, 83, 45, 0.3);
                border: 1px solid rgba(9, 255, 0, 0.116);
                color: #4ADE80;

                &:hover{
                    background-color: rgb(22, 101, 52, 0.5);
                }
                }

                &:hover{
                    scale: 1.05;
                }
                
            }
        }
    }

}