<body>
    <app-header></app-header>

    <main>
        
        <app-vote-stats></app-vote-stats>

        <div id="galeria">
            
           @for (filme of filmes; track $index) {
            <app-card-movie 
            [titulo]="filme.titulo" 
            [genero]="filme.genero" 
            [imagem]="filme.imagem"
            [descricao]="filme.descricao" 
            [gostei]="filme.gostei"
            [naoGostei]="filme.naoGostei"></app-card-movie>
           }

            <app-cadastrar-filme></app-cadastrar-filme>

        </div>

    </main>
    
    <app-footer></app-footer>
</body>