<div>
    <h1>Estatísticas de Votação</h1>
    <div>
        
    <div id="likes">
        <img src="like.png" alt="Simbolo de um dedão para cima">
        <h1>{{gostei}}</h1>
        <p>Total gostei</p>
    </div>

    <div id="dislikes">
        <img src="dislike.png" alt="Simbolo de um dedão para baixo">
        <h1>{{naoGostei}}</h1>
        <p>Total não gostei</p>
    </div>

    <div id="total">
        <img src="bar-chart.png" alt="Simbolo de um gráfico para cima">
        <h1>{{total}}</h1>
        <p>Votos totais</p>
    </div>

    </div>
</div>